@charset "utf-8";

@import url('./css/theme.css');
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');

/*
 * My Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    text-transform: none;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin-top: 0;
    margin-bottom: 1rem;
}

#root,
#__next {
    isolation: isolate;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', メイリオ, Meiryo, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*
 * header
 */

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--md-sys-color-background);
    border-bottom: 1px solid var(--md-sys-color-outline);
}


header > .container {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.75rem;
}

/*
 * main contents
 */

main {
    margin-top: 4rem;
    padding-top: 2rem;
}

.column-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: flex-start;
}

@media (min-width: 992px) {
    .column-wrapper {
        flex-wrap: nowrap;
    }
}

section {
    padding: 1rem 0;
    margin-inline: auto;
}

.column-wrapper > section {
    width: 100%;
}

section > h2 {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
}


form#weekdays {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.input-group,
.action-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

/*
 * inputs
 */

input,
textarea,
label {
    margin: 0.25rem;
    padding: 0.4rem 0.8rem;
    line-height: 1.5;
}

input[type="date"],
input[type="time"] {
    padding-right: 0.4rem;
}

input,
textarea {
    color: var(--md-sys-color-on-secondary-container);
    background-color: var(--md-sys-color-secondary-container);
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 0.4rem;
}

:where(input, textarea):focus {
    color: var(--md-sys-color-primary);
    border-color: var(--md-sys-color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--md-sys-color-surface-variant);
}

:where(input, textarea):focus-visible {
    outline: 0;
}

:where(input, textarea):focus::selection {
    background-color: var(--md-sys-color-surface-variant);
}

section > div:has(textarea#result) {
    width: 100%;
    display: flex;
    justify-content: center;
}

textarea#result {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

label.form-label {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 3.5rem;
    font-size: 1.25rem;
    line-height: 1.2;
    /* (1.5 / 1.25) */
    font-weight: 500;
}

.input-group > label.form-label {
    text-transform: capitalize;
}

/*
 * buttons
 */

button {
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
    padding: 0 24px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
}

button.outlined {
    color: var(--md-sys-color-primary);
    border: 1px solid var(--md-sys-color-outline);
}

button:hover {
    background-color: var(--md-sys-color-surface-variant);
}

button.filled {
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
}

button.filled:hover {
    background-color: var(--md-ref-palette-primary90);
}

button.icon {
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Emoji', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
}

